"appbuild"
{
	"appid" "${STEAM_APP_ID}"
	"desc" "${BUILD_DESC}"
	"buildoutput" "${BUILD_OUTPUT_DIR}"
	"contentroot" ""
	"setlive" "${SET_LIVE_BRANCH}"
	"depots"
	{
		"${STEAM_DEPOT_ID}" "${DEPOT_BUILD_VDF_PATH}"
	}
}
